body{
    color: blue;
    background: rgb(238, 238, 192);
}

header{
    border-bottom: solid 2px;
    border-color: green;
    font-size: 40px;
}

.chamada{
    background:rgb(217, 252, 217);
    color: rgb(209, 37, 37);
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}
section{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.lista{
    background: black;
    /* display: flex; */
    /* overflow-x: auto; */
    /* gap: 10px; */
}

img{
    height:300 px;
    
}